<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap" rel="stylesheet">
    <title><%= title %></title>
    <style>
        #bt{
            border-radius: 50px;
        }
    </style>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function deleteATodo(id) {
            fetch(`/todos/${id}`, {
                method: "delete",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err2)=> console.error(err2))
        }
        function updateATodo(id, status) {
            fetch(`/todos/${id}`, {
                method: "put",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token,
                    "completed":status
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err1)=> console.error(err1))
        }
    </script>
</head>
<body style="font-family: 'Unbounded', cursive ;font-weight:bolder">
    <img src="bg2.jpg" alt="" style="height: 100%; width: 100%; position: absolute;top: 0px;z-index: -1;">
    <div style="margin-top: 25px; " class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %> <br>
            <p style="color:aqua">Hello <span style="background-color: black;color: aqua;padding: 5px; border: 3px solid cyan;border-radius: 9px;"><%= userName %></span> </p> <br>
            <a style="background-color: cyan;
            color: black;
            margin-left: 25px;
            padding: 5px;
            border: 3px solid black;
            border-radius: 5px;
            font-family: system-ui;" href="/signout">sign out</a> <br>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input style="    padding: 6px;
                        border: 3px solid black;border-radius:9px;" type="text" name="title" placeholder="What's next?"  required />
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="dueDate" class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm leading-4" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" id="bt" style="background-color: cyan;
                        color: black;
                        margin-left: 25px;
                        padding: 5px;
                        border: 3px solid black;
                        border-radius: 5px;
                        font-family: system-ui;">Add Todo</button>
                    </div>
                </div>
            </form>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-red-100 my-3 list-none rounded px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div>
                <%- include('todo.ejs', {title: "Overdue", data: overDue}) %>
                <%- include('todo.ejs', {title: "Due Today", data: dueToday}) %>
                <%- include('todo.ejs', {title: "Due Later", data: dueLater}) %>
                <%- include('todo.ejs', {title: "Completed Items", data: completedItems}) %>
            </div>
        </div>
    </div>
</body>
</html>